{template 'common/header'}

<div class="main">
    <a href="javascript:cupmodal(0);" class="btn btn-primary pull-left"><span>+</span>添加新ip</a>
    <div style="padding: 15px;">
        <table class="table table-hover table-striped table-condensed">
            <thead class="navbar-inner">
            <tr>
                <th style="text-align: center;">IP</th>
                <th style="text-align: center;">备注</th>
                <th style="text-align: center;">添加时间</th>
                <th style="text-align: center;">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr>
                <td style="text-align: center;">{$item['ip']}</td>
                <td style="text-align: center;">{$item['content']}</td>
                <td style="text-align: center;">{php echo date('Y-m-d H:i:s',$item['createtime'])}</td>
                <td style="text-align: center;">
                    <a href="javascript:cupmodal({$item['id']},'{$item['ip']}','{$item['content']}');"
                       title="编辑" class="btn btn-small">编辑</a>
                </td>
            </tr>
            {/loop}
            </tbody>

        </table>
        {$pager}
    </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
            </div>
            <form action="" method="post" class="form-horizontal">
                <div class="modal-body" id="mo-content" >

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">IP</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="ip" id="ip" class="form-control" value="" data-rule-required="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8 col-xs-6" >
                            <textarea name="content" class="form-control" ></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="hidden" name="id" value="" >
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function cupmodal(id,ip,content) {
        if(id==0){
            $("input[name='id']").val('');
            $("input[name='ip']").val('');
            $("textarea[name='content']").val('');
        }else {
            $("input[name='id']").val(id);
            $("input[name='ip']").val(ip);
            $("textarea[name='content']").val(content);
        }

        $('#myModal').modal();
    }
</script>

{template 'common/footer'}
